@font-face {
    font-family: 'calibril';
    src: url('../fonts/calibril.eot'); /* IE9 Compat Modes */
    src: url('../fonts/calibril.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/calibril.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/calibril.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/calibril.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/calibril.svg#svgFontName') format('svg'); /* Legacy iOS */
  }


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body {
    line-height:1;
    font-family: 'calibril';
   }

header{
    text-align: center;
    line-height: 1.6em;
    margin-bottom: 22px;
}


h3{
    font-weight: 300;
    font-size: 1.2em;  

}

h2{
    font-size: 1.5em;
}

img[src="img/filestructure.PNG"]{
    margin-top: 24px;
    margin-left: 30%;
}

main{
    margin-left: 16px;
    line-height: 2.7em;
    margin-bottom: 22px;
}
input{
    border: none;
    border-bottom: 1px solid black;
    margin-left: 12px;
}

input:focus {
    outline: none;
}



#foot{
    background-image: url(../img/dunwoodyfooterlogo.png);
    height: 75px;
    background-size: 100%;
    width: 100%;
}
#container{
    width: 1100px;
    margin: auto;
}